<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sendMessage.css"></link>
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <div id="sendMessage">
        <h3>send message</h3>
        <form action="/sendMessage" method="POST">
          <input type="text" name="message" />
          <button type="submit">send</button>
        </form>
      </div>
    </main>
  </body>
</html>
