#home1 {
  width: 100%;
  text-align: center;
  float: left;
  background-color: rgb(235, 235, 235);
  height: 130px;
}
#home2 {
  width: 100%;
  text-align: center;
  float: left;
  background-color: rgb(209, 209, 209);
  height: 130px;
}